body, html {
    margin: 0;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
}


/****** Header Styling ******/

header {
    background-image: url("./headerImg.png");
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

h1 {
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
}

.white-link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;

}


/****** Main Styling -- no content ******/

main {
    height: 70vh;
}

.main-movie-icon {
    background-image: url("./main.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1.1em;

}

#search-bar {
    border: none;
    width: 50%;
    padding: .75em .75em .75em 40px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    background-image: url("./Search.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

#search-button {
    border: none;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

button:hover {
    cursor: pointer;
}
/****** Main Styling -- with content ******/

h2 {
    font-size: 1.25rem;
    margin-right: 1.5em;
}
.card {
    box-sizing: border-box;
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    padding: 25px;
    margin: 25px auto;
    height: fit-content;
    max-width: 800px;
    border-bottom: 1px solid gray;
}

.length-genre-watchlist p {
    margin-top: 0;
}

.movie-poster {
    height: 250px;
    margin-right: 40px;
}

.title-rating {
    display: flex;
    align-items: center;

}

.length-genre-watchlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-results-container, #watchlist-container {
    max-width: 80%;
    margin: 0px auto;
}

.star {
    width: 1rem;
    height: 1rem;
    align-self: center;
}

.card-btn{
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1.5em;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 1.2em;

}

.add-to-watchlist {
    background-image: url("./watchlist.png");
}

.remove-from-watchlist {
    background-image: url("./remove.png")
}

.link-to-home {
    background-image: url("./watchlist.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left center;
    border: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    padding-left: 1.5em;
    font-weight: bold;
    width:fit-content;
    align-self: center;
}

.white {
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    height: 70vh;
}

.missing {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    opacity: .5;
}
