body, html {
    margin: 0;
    background-image: url("./images/pattern.png");
    background-position-x: -50px;
    font-family: 'Raleway', sans-serif;
}


/****** Header Styling ******/

header {
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgb(65, 1, 1) 0%, rgba(139,0,0,1) 50%, rgba(105,0,0,1) 100%);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.watchlist-header {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

h1 {
    color: white;
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Codystar', cursive;
    padding-left: .5em;
}

.watchlist-h1 {
    font-size: 2rem;
}

.white-link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: .5em;

}

.watchlist-link {
    font-size: 1rem;
 }


/****** Main Styling -- no content ******/

main {
    height: 70vh;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1.1em;

}

#search-bar {
    border: none;
    border-left: 2px solid rgb(65, 1, 1);
    border-bottom:5px solid rgb(65, 1, 1);
    border-top: 3px solid rgb(26, 1, 1);
    border-right: none;
    width: 50%;
    padding: .75em .75em .75em 40px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    background-image: url("./icons/Search.png");
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: white;
}

#search-button {
    border: none;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    border-top: 3px solid rgb(26, 1, 1);
    border-right: 2px solid rgb(65, 1, 1);
    border-bottom:5px solid rgb(65, 1, 1);
}

button:hover {
    cursor: pointer;
}
/****** Main Styling -- with content ******/

h2 {
    font-size: 1.25rem;
    margin-right: 1.5em;
    margin-bottom: 0;
}
.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: whitesmoke;
    padding: 20px;
    margin: 40px auto;
    background-color: rgba(139,0,0,1);
    border-radius: 10px;
    box-shadow: 0px 1px 2px black;
}

.movie-poster {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.2em;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: end;
}

.rating p {
    padding: 0 0 0 .5em;
    margin: 0;
    align-self: flex-end;
}

.rating img {
    align-self: flex-end;
}


#search-results-container, #watchlist-container {
    max-width: 90%;
    margin: 0px auto;
}

.star {
    width: 1rem;
    height: 1rem;
}

.card-btn{
    background-repeat: no-repeat;
    background-position: .1em;
    padding-left: 1.9em;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    margin: 1em auto;
    text-align: left;
}

.add-to-watchlist {
    background-image: url("./icons/watchlist.png");
}

.remove-from-watchlist {
    background-image: url("./icons/remove.png");
}

.link-to-home {
    background-image: url("./icons/watchlist.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left center;
    border: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    padding-left: 1.5em;
    font-weight: bold;
    width:fit-content;
    align-self: center;
}

.white {
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    height: 70vh;
}

.missing {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    opacity: .5;
}


  @media (min-width: 500px) {

    h1 {
        font-size: 4rem;
    }

    .card {
        max-width: 300px;
    }

    #search-results-container, #watchlist-container {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-content: left;
    }
  }
